@layout('base')

@section('body')
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <img src="http://yugiohpricer.com/img/yugiohpricerlogo.png">
      <span class="title">Yugioh Pricer</span>
    </div>
  </div>

  <div id="container"></div>
@endsection

@section('scripts')
  <script src="/js/app.js"></script>
@endsection